@font-face {
    font-family: 'Rubik-Medium';
    src: url('./font/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('./font/Rubik-Regular.ttf');
}

body {
    min-height: 496px;
    border: 2px solid black;
    background-color: #e6e2de;
    margin: 0;
    font-family: 'Rubik-Medium';
    font-size: 25px;
    line-height: 1.25;
}

.inner {
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#frametopLanding {
    height: 15px;
    border-bottom: 2px solid black;
}

#framebottomLanding {
    height: 15px;
    border-top: 2px solid black;
    bottom: 0px;
}

#frametop {
    height: 15px;
    border-bottom: 2px solid black;
}

#framebottom {
    height: 15px;
    border-top: 2px solid black;
    bottom: 0px;
}

#content {
    height: calc(100vh - 38px);
    min-height: 462px;
}

#enter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/1960s Item 16.jpg");
    background-size: cover;
    height: calc(100vh - 38px);
    min-height: 462px;
    border-bottom: 2px solid black;
    cursor: pointer;
}

#walkout {
    font-size: 15vw;
    letter-spacing: -0.75vw;
}

#navbar {
    bottom: 0px;
    height: 45px;
}


.contentGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.contentGrid #tabletHeader {
    display: none;
}

.contentGrid #tabletFooter {
    display: none;
}

.contentGrid #left {
    grid-area: 1 / 1 / 2 / 3;
    border-right: 2px solid black;
}

.contentGrid #center {
    grid-area: 1 / 3 / 2 / 8;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.contentGrid #center::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.contentGrid #right {
    grid-area: 1 / 8 / 2 / 9;
    border-left: 2px solid black;
}

.contentGrid #navitemHome {
    grid-area: 1 / 1 / 2 / 3;
    border-right: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contentGrid #navitemAddress {
    grid-area: 1 / 3 / 2 / 7;
    border-right: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contentGrid #navitemAbout {
    grid-area: 1 / 7 / 2 / 8;
    border-right: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contentGrid #navitemDonate {
    grid-area: 1 / 8 / 2 / 9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid {
    line-height: 1.05;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.columnGrid #title {
    grid-area: 1/ 1/ 2/ 3;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #subtitle {
    grid-area: 2/ 1/ 3/ 3;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #interference {
    grid-area: 10/ 1/ 11/ 3;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #about {
    grid-area: 11/ 1/ 12/ 2;
    border-right: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #donate {
    grid-area: 11/ 2/ 12/ 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #hamburger {
    display: none;
}

.columnGrid #intro {
    grid-area: 1/ 1/ 2/ 3;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #sixties {
    grid-area: 7/ 1/ 8/ 3;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #seventies {
    grid-area: 8/ 1/ 9/ 3;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #eighties {
    grid-area: 9/ 1/ 10/ 3;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #nineties {
    grid-area: 10/ 1/ 11/ 3;
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.columnGrid #aughts {
    grid-area: 11/ 1/ 12/ 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.inset-image-container {
    position: relative;
    box-sizing: border-box;
    width: 25%;
}

.image-container {
    position: relative;
    box-sizing: border-box;
    width: 25%;
}

.floatleft {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.floatright {
    float: right;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 5px;
}

.image-container img {
    max-width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inset-image-container img {
    width: 100%;
}

.image-container .after,
.inset-image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #e6e2de;
}

.image-container:hover .after,
.inset-image-container:hover .after {
    display: flex;
    text-align: center;
    background: rgba(0, 0, 0, 1.0);
}

.hoverCaption {
    align-self: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.15;
    margin: 10px;
    width: 100%;
}

/*TODO: replace with a dynamically constructed table */
#images {
    display: flex;
    flex-wrap: wrap;
}

#images .image-container {
    outline: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    text-align: center;
}

#images .image-container img {
    max-height: 200px;
    height: auto;
    width: auto;
}

.hide {
    display: none;
}

#text {
    font-family: 'Rubik-Regular';
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 18px;
    margin-bottom: 25px;
}

#detail {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    height: 100%;
}

#image {
    display: flex;
    box-sizing: border-box;
    grid-area: 1/ 1/ 11/ 2;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid black;
    text-align: center;
}

#imageContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.detailActive {
    text-decoration: underline;
}

.detailNumber {
    cursor: pointer;
    font-size: 16px;
    padding-right: 4px;
}

.detailImage {
    display: none;
    max-height: 100%;
    max-width: 100%;
}

.imageActive {
    display: inline;
}

#detailFooter {
    grid-area: 11/ 1/ 12/ 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    line-height: 1.15;
}

#detailCaption {
    width: 70%;
    text-align: right;
}

#galleryView {
    cursor: pointer;
}

#galleryViewIcon {
    height: 12px;
    margin-right: 6px;
}

p {
    margin: 0;
}

pre {
    display: inline;
    margin: 0;
}

.prev,
.next {
    position: relative;
    cursor: pointer;
    font-size: 40px;
    font-family: 'Rubik-Regular';
}

.prev {
    margin-left: 35px;
}

.next {
    margin-right: 35px;
}

@media screen and (max-height: 800px), screen and (max-width: 1100px) {
    body {
        font-size: 20px;
    }

    .detailNumber {
        font-size: 13px;
    }

    #detailFooter {
        font-size: 13px;
    }

    #galleryViewIcon {
        height: 9px;
    }

    .hoverCaption {
        font-size: 13px;
    }
}

@media screen and (max-width: 1100px) {
    .contentGrid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .modal-content {
        width: 100%;
    }

    .contentGrid #left {
        display: none;
    }

    .contentGrid #center {
        grid-area: 3 / 1 / 12 / 9;
    }

    .contentGrid #right {
        grid-area: 2/ 1 / 3/ 9;
        border: 0px;
    }

    .contentGrid #tabletHeader {
        display: flex;
        grid-area: 1/ 1/ 2/ 9;
        text-align: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border-bottom: 2px solid black;
    }

    .contentGrid #tabletFooter {
        grid-area: 12/ 1/ 13/ 9;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        border-top: 2px solid black;
    }

    .contentGrid #tabletFooter div {
        display: flex;
        text-align: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .contentGrid #tabletFooter #interference {
        grid-area: 1/ 1/ 2/ 3;
        border-right: 2px solid black;
    }

    .contentGrid #tabletFooter #about {
        grid-area: 1/ 3/ 2/ 4;
        border-right: 2px solid black;
    }

    .contentGrid #tabletFooter #donate {
        grid-area: 1/ 4/ 2/ 5;
    }

    .columnGrid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }
    .columnGrid #intro {
        grid-area: 1/ 1/ 2/ 2;
        border: 0px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
    .columnGrid #sixties {
        grid-area: 1/ 2/ 2/ 3;
        border: 0px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
    .columnGrid #seventies {
        grid-area: 1/ 3/ 2/ 4;
        border: 0px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
    .columnGrid #eighties {
        grid-area: 1/ 4/ 2/ 5;
        border: 0px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
    .columnGrid #nineties {
        grid-area: 1/ 5/ 2/ 6;
        border: 0px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
    .columnGrid #aughts {
        grid-area: 1/ 6/ 2/ 7;
        border: 0px;
        border-bottom: 2px solid black;
    }
    .inset-image-container {
        width: 30%;
    }
}

/*fixes a UI bug where hidden nav items remain invisible when width changes from mobile to tablet*/
@media screen and (min-width: 601px) {
    .columnGrid #intro, #sixties, #seventies, #eighties, #nineties, #aughts {
        display: flex !important;
    }
}

@media screen and (max-width: 600px) {
    .contentGrid #right {
        grid-area: 2/ 1 / 8/ 9;
        z-index: 1;
    }

    .columnGrid {
        display: flex;
        flex-direction: column;
    }
    .columnGrid #hamburger {
        display: inline;
        position: absolute;
        right: 28px;
        margin-top: 8px;
        font-size: 30px;
        cursor: pointer;
    }
    .columnGrid #intro, #sixties, #seventies, #eighties, #nineties, #aughts {
        border: 0px;
        border-bottom: 2px solid black;
        border-right: 0px !important;
        height: 50px;
        background-color: #e6e2de;
    }
    .columnGrid #intro:not(.activeNavElement) {
        display: none;
    }
    .columnGrid #sixties:not(.activeNavElement) {
        display: none;
    }
    .columnGrid #seventies:not(.activeNavElement) {
        display: none;
    }
    .columnGrid #eighties:not(.activeNavElement) {
        display: none;
    }
    .columnGrid #nineties:not(.activeNavElement) {
        display: none;
    }
    .columnGrid #aughts:not(.activeNavElement) {
        display: none;
    }
    .inset-image-container {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }

    .detailNumber {
        font-size: 11px;
    }

    #detailFooter {
        font-size: 11px;
    }

    #galleryViewIcon {
        height: 9px;
    }

    .hoverCaption {
        font-size: 11px;
    }
}

a {
    text-decoration: none;
    color: black;
}

.linkDecorator {
    display: none;
}

a:hover .linkDecorator {
    display: inline;
}

#slideshow {
    max-height: 80%;
    cursor: pointer;
}

#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(230, 226, 222, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 95%;
    /*  max-width: 700px;*/
}

.modal-content,
#modal-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}